<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="png" href="../static/Mlogo.png"/>
    <link rel="stylesheet" href="../static/about_style.css">


</head>
<body>
    <div class="my-div">
        <nav>
      
            <label class="logo" >MUSRICH</label>
            <ul style="list-style-type: none;">
                <li ><a href="home.html" style="margin-right: 0%;">Heim</a></li>
                <li><a href="Artists.html" style="margin-right: 0%;">Künstler</a></li>
                <li><a href="about.html" style="text-align: center;">About</a></li>
                <li><a href="search.html">Suchen</a></li>
                <li><a href="Artistspotlight.html">Punktlicht</a></li>
                <li><a href="playlist.html">Laufliste</a></li>
            </ul>
        </nav>
        <div>
            <p class="abou">About Us</p>
        </div>
    </div>

    <div>
        <p></p>
    </div>

    <div class="meinq">
      <p class="mainq">“He who would live must fight. He who doesn't wish to fight in this world, where permanent struggle is the law of life, has not the right to exist.”</p>
      <p class="sideq"> - Mein Kampf</p>
    </div>

    
      
    <div class="em1">
        <p>Musikreich ist eine beliebte Musik-Streaming-Plattform, die eine umfangreiche Bibliothek an Songs, Alben und Playlists für ihre Benutzer <mark>bereitstellt. Mit ihrer intuitiven Benutzeroberfläche und personalisierten Empfehlungen ermöglicht es Musikreich den Benutzern, mühelos neue Musik zu entdecken und verschiedene Genres zu erkunden. Die Plattform bietet auch verschiedene Funktionen wie Offline-Hören, hochwertiges Audio-Streaming </mark>und exklusiven Inhalt von verschiedenen Künstlern. Musikreichs Engagement für ein außergewöhnliches Benutzererlebnis macht es zu einer go-to Plattform für Musikliebhaber weltweit. Darüber hinaus machen die Zugänglichkeit auf mehreren Geräten und erschwingliche Abonnementpläne es zu einer idealen Wahl für alle Musik-Enthusiasten.</p>
    </div>


    <div class="image-gallery">
      <div class="image">
        <img src="../static/prat.jpg" alt="Image 1">
        <h>Pratyush Jena</h>
        <p class="p1">The desinger of Home page, About page, footers, logos of the website and color scheming.</p>
      </div>
      <div class="image">
        <img src="../static/swarc.jpg" alt="Image 2">
        <h>Swaroop C</h>
        <p class="p1">The desinger of Artists, Albums & Song page. The choice of Artists, albums & songs.</p>
      </div>
    </div>


    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <img src="../static/Mlogo.png" alt="Logo">
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <ul>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-facebook-f"><img src="../static/inst.png"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"><img src="../static/twit.png"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-instagram"><img src="../static/Facebook-logo.png"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 MusikRiech Company. All rights reserved.</p>
      </div>
    </footer>
    <script src="../static/nav.js"></script>
</body>
</html>
