<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punktlicht</title>
    <link rel="stylesheet" href="../static/Artistspotlight.css">
    <link rel="icon" type="png" href="../static/Mlogo.png"/>
</head>
<div class="navbar"></div>
<body>
    <nav> 
        <a href="home.html">
            <img src="../static/logo.png" alt="Navigation Icon">
        </a>
        <label class="logo"></label>
        <ul style="list-style-type: none;">
          <li><a href="home.html" style="margin-right: 0%;">Heim<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="Artists.html" style="margin-right: 0%;">Künstler<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="about.html" style="text-align: center;">About<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="search.html">Suchen<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="Artistspotlight.html">Punktlicht<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="playlist.html">Laufliste</a></li>
        </ul>
    </nav>
    <h1>OK da</h1>
    <h1>Ok da</h1>
    <div class="fav_artist">
        <p class="quote">EMINƎM</p>
        <div class="image-container">
            <div class="image-item">
                <img src="../static/eminempic.jpg" alt="Image">
                
            </div>
        </div>
    </div>
    <div class="timer">
        <p class="intro">The next album release in</p>
       
    </div>
    <p id="countdown" class="countdown-timer"></p>
    <div class="description">
        <p class="bio">Marshall Bruce Mathers III ( 17. Oktober 1972), beruflich bekannt als Eminem (/ˌɛmɪˈnɛm/; oft als EMINƎM stilisiert), ist ein US-amerikanischer Rapper, Songwriter und Plattenproduzent. Ihm wird die Popularisierung des Hip-Hop in Mittelamerika zugeschrieben und er wird von der Kritik als einer der größten Rapper aller Zeiten gefeiert. Eminems weltweiter Erfolg und seine gefeierten Werke gelten weithin als Überwindung der Rassenbarrieren für die Akzeptanz weißer Rapper in der Popmusik. Während viele seiner grenzüberschreitenden Arbeiten in den späten 1990er und frühen 2000er Jahren ihn weithin kontrovers machten, wurde er zu einer Repräsentation der populären Angst der amerikanischen Unterschicht und wurde als Einfluss für viele Künstler verschiedener Genres angeführt. </p>
    </div>
    
    <div class="review">
        <h1>Artist Review</h1>
        <form>
  
 
            <label for="user-name">Your Name:</label>
              <input type="text" id="user-name" name="user-name" required><br>
            <label for="rating">Rating:</label>
              <input type="radio" id="rating-1" name="rating" value="1" required>
            <label for="rating-1">1</label>
            <input type="radio" id="rating-2" name="rating" value="2">
            <label for="rating-2">2</label>
            <input type="radio" id="rating-3" name="rating" value="3">
            <label for="rating-3">3</label>
            <input type="radio" id="rating-4" name="rating" value="4">
            <label for="rating-4">4</label>
            <input type="radio" id="rating-5" name="rating" value="5">
            <label for="rating-5">5</label><br>
            <label for="review">Review:</label>
            <textarea id="review" name="review" rows="5" cols="50"></textarea><br>
            <input type="button" value="Submit" onclick="submitReview()">
          </form>
          
          <table id="review-table">
            <tr>
             
              <th>Username</th>
              <th>Rating</th>
              <th>Review</th>
            </tr>
          </table>
         
    </div>



    <footer>
        <div class="footer-container">
          <div class="footer-logo">
            <img src="../static/Mlogo.png" alt="Logo">
          </div>
          <div class="footer-links">
            <ul>
              <li><a href="home.html">Home</a></li>
              <li><a href="about.html">About</a></li>
            </ul>
          </div>
          <div class="footer-social">
            <ul>
              <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-facebook-f"><img src="../static/inst.png"></i></a></li>
              <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"><img src="../static/twit.png"></i></a></li>
              <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-instagram"><img src="../static/Facebook-logo.png"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2023 MusikRiech Company. All rights reserved.</p>
        </div>
      </footer>
      
      <script src="../static/spotlight.js"></script>
      <script src="../static/nav.js"></script>
</body>
</div>




</html>
