<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <title>Ed Sheeran Albums</title>
    <link rel="stylesheet" href="../static/Albums.css">
  </head>
  <body>
    <header>
      <nav> 
        <a href="home.html">
            <img src="../static/logo.png" alt="Navigation Icon">
        </a>
        <label class="logo"></label>
        <ul style="list-style-type: none;">
          <li><a href="home.html" style="margin-right: 0%;">Heim<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="Artists.html" style="margin-right: 0%;">Künstler<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="about.html" style="text-align: center;">About<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="search.html">Suchen<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="Artistspotlight.html">Punktlicht<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="playlist.html">Laufliste</a></li>
        </ul>
    </nav>
      
      <h1>Ed Sheeran Albums</h1>
    </header>
    <main>
      <section class="album-list">
        <div class="album-item">
          <a href="Artist05album1.html">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1e/Edsheeranplushmv.png/220px-Edsheeranplushmv.png" alt="Album 1 Cover">
            <h2>+</h2>
            <p>12 songs | Released 2011 </p>
          </a>
        </div>
        <div class="album-item">
          <a href="Artist05album2.html">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ad/X_cover.png/220px-X_cover.png" alt="Album 2 Cover">
            <h2>X</h2>
            <p>12 songs | Released 2014 </p>
          </a>
        </div>
        <div class="album-item">
          <a href="Artist05album3.html">
            <img src="../static/deluxe.jpg" alt="Album 3 Cover">
            <h2>÷</h2>
            <p>12 songs | Released 2017 </p>
          </a>
        </div>
        <div class="album-item">
          <a href="Artist05album4.html">
            <img src="https://media.pitchfork.com/photos/6179a8ac8863d4d56b12af42/1:1/w_600/100000x100000-999.jpg" alt="Album 4 Cover">
            <h2>=</h2>
            <p>14 songs | Released 2021 </p>
          </a>
        </div>
        <div class="album-item">
          <a href="Artist05album5.html">
            <img src="https://pbs.twimg.com/media/FlXTizAaMAIjYd8?format=jpg&name=900x900" alt="Album 5 Cover">
            <h2>-</h2>
            <p>14 songs | Released 2023 </p>
          </a>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <img src="../static/Mlogo.png" alt="Logo">
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <ul>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-facebook-f"><img src="../static/inst.png"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"><img src="../static/twit.png"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-instagram"><img src="../static/Facebook-logo.png"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 MusikRiech Company. All rights reserved.</p>
      </div>
    </footer>
    <script src="../static/nav.js"></script> 
  </body>
</html>

