<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>The Slim Shady LP</title>
    <link rel="stylesheet" href="../static/Songs.css">
  </head>
  <body>
    <nav> 
      <a href="home.html">
          <img src="../static/logo.png" alt="Navigation Icon">
      </a>
      <label class="logo"></label>
      <ul style="list-style-type: none;">
        <li><a href="home.html" style="margin-right: 0%;">Heim<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="Artists.html" style="margin-right: 0%;">Künstler<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="about.html" style="text-align: center;">About<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="search.html">Suchen<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="Artistspotlight.html">Punktlicht<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="playlist.html">Laufliste</a></li>
      </ul>
  </nav>
    <header>
      <h1>Slim Shady LP</h1>
    </header>
    <main>
      <section class="song-list">
        <div class="song-item">
          <img src="https://i1.sndcdn.com/artworks-000519434973-n5ubx1-t500x500.jpg" >
          <h2>My Fault</h2>
          <p>4:02</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="https://images.genius.com/97eed2387a2b09818d8ef4a723d5dbfc.1000x1000x1.jpg" >
          <h2>If I Had</h2>
          <p>4:05</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="../static/imshady.jpg" >
          <h2>I'm Shady</h2>
          <p>3:32</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="https://images.genius.com/7b2b2673ac2a31bcfe0dd8f51ce4b0fa.640x640x1.jpg" >
          <h2>Brain Damage</h2>
          <p>3:47</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="https://upload.wikimedia.org/wikipedia/en/b/b5/BadMeetsEvil.jpg" >
          <h2>Bad Meets Evil</h2>
          <p>4:13</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <img src="../static/Mlogo.png" alt="Logo">
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <ul>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-facebook-f"><img src="../static/inst.png"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"><img src="../static/twit.png"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-instagram"><img src="../static/Facebook-logo.png"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 MusikRiech Company. All rights reserved.</p>
      </div>
      </footer>
      <script src="../static/nav.js"></script> 
  </body>
</html>

