<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>=</title>
    <link rel="stylesheet" href="../static/Songs.css">
  </head>
  <body>
    <nav> 
      <a href="home.html">
          <img src="../staticlogo.png" alt="Navigation Icon">
      </a>
      <label class="logo"></label>
      <ul style="list-style-type: none;">
        <li><a href="home.html" style="margin-right: 0%;">Heim<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="Artists.html" style="margin-right: 0%;">Künstler<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="about.html" style="text-align: center;">About<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="search.html">Suchen<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="Artistspotlight.html">Punktlicht<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="playlist.html">Laufliste</a></li>
      </ul>
  </nav>
    <header>
      <h1>=</h1>
    </header>
    <main>
      <section class="song-list">
        <div class="song-item">
          <img src="https://images.genius.com/d9acc1b1d1bf368040f155f2c25b458c.300x300x1.png">
          <h2>Tides</h2>
          <p>3:15</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="https://upload.wikimedia.org/wikipedia/en/b/b0/Ed_Sheeran_-_Shivers.png">
          <h2>Shivers</h2>
          <p>3:27</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="https://images.genius.com/3893a2275fdb957e17cd2362800ad189.635x635x1.png">
          <h2>Sandman</h2>
          <p>4:19</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="https://i.scdn.co/image/ab67616d0000b2734e03a288fd79707055759f9c">
          <h2>Bad Habits</h2>
          <p>3:51</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="https://i.scdn.co/image/ab67616d0000b2733927e6a01e69011a86609d48">
          <h2>2step</h2>
          <p>2:33</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <img src="../static/Mlogo.png" alt="Logo">
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <ul>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-facebook-f"><img src="../static/inst.png"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"><img src="../static/twit.png"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-instagram"><img src="../static/Facebook-logo.png"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 MusikRiech Company. All rights reserved.</p>
      </div>
      </footer>
      <script src="../static/nav.js"></script> 
  </body>
</html>