<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>The Eminem Show</title>
    <link rel="stylesheet" href="../static/Songs.css">
  </head>
  <body>
    <nav> 
      <a href="home.html">
          <img src="../static/logo.png" alt="Navigation Icon">
      </a>
      <label class="logo"></label>
      <ul style="list-style-type: none;">
        <li><a href="home.html" style="margin-right: 0%;">Heim<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="Artists.html" style="margin-right: 0%;">Künstler<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="about.html" style="text-align: center;">About<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="search.html">Suchen<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="Artistspotlight.html">Punktlicht<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="playlist.html">Laufliste</a></li>
      </ul>
  </nav>
    <header>
      <h1>The Eminem Show</h1>
    </header>
    <main>
      <section class="song-list">
        <div class="song-item">
          <img src="https://c.sop.saavncdn.com/jc-amador-aka-dj-xuixui-308e-eminem-without-me-remix-Spanish-2021-500x500.jpg">
          <h2>Without Me</h2>
          <p>4:50</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="https://i1.sndcdn.com/artworks-XVW5sSVNdSvHWvm1-crGECw-t500x500.jpg">
          <h2>Soldier</h2>
          <p>3:47</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="https://i1.sndcdn.com/artworks-000172684112-zw9y32-t500x500.jpg">
          <h2>'Till I Collapse </h2>
          <p>4:58</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="https://i1.sndcdn.com/artworks-G3dDQehIeSNjR0xV-KvV7Vw-t500x500.jpg">
          <h2>Superman</h2>
          <p>5:50</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="../static/sinftm.jpg">
          <h2>Sing for the Moment</h2>
          <p>5:40</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <img src="../static/Mlogo.png" alt="Logo">
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <ul>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-facebook-f"><img src="../static/inst.png"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"><img src="../static/twit.png"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-instagram"><img src="../static/Facebook-logo.png"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 MusikRiech Company. All rights reserved.</p>
      </div>
      </footer>
      <script src="../static/nav.js"></script> 
  </body>
</html>

