<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Made in the A.M.</title>
    <link rel="stylesheet" href="../static/Songs.css">
  </head>
  <body>
    <nav> 
      <a href="home.html">
          <img src="../static/logo.png" alt="Navigation Icon">
      </a>
      <label class="logo"></label>
      <ul style="list-style-type: none;">
        <li><a href="home.html" style="margin-right: 0%;">Heim<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="Artists.html" style="margin-right: 0%;">Künstler<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="about.html" style="text-align: center;">About<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="search.html">Suchen<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="Artistspotlight.html">Punktlicht<span class="line top"></span><span class="line bottom"></span></a></li>
        <li><a href="playlist.html">Laufliste</a></li>
      </ul>
  </nav>
    <header>
      <h1>Made in the A.M.</h1>
    </header>
    <main>
      <section class="song-list">
        <div class="song-item">
          <img src="https://static.wikia.nocookie.net/harry-styles8955/images/a/a8/Drag_me_down.jpg/revision/latest?cb=20160611135209">
          <h2>Drag Me Down</h2>
          <p>3:12</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="https://static.wikia.nocookie.net/onedirection/images/6/6e/Perfect_cover.png/revision/latest?cb=20151012015323">
          <h2>Perfect</h2>
          <p>3:50</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51f-rshdi9L._SY450_.jpg">
          <h2>Never Enough</h2>
          <p>3:33</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51f-rshdi9L._SY450_.jpg">
          <h2>Olivia</h2>
          <p>2:57</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
        <div class="song-item">
          <img src="https://upload.wikimedia.org/wikipedia/en/0/00/One_Direction_-_History_%28Official_Single_Cover%29.png">
          <h2>History</h2>
          <p>3:07</p>
          <button class="add-to-playlist">
            <span class="plus-icon"></span>
            Add to Playlist
            </button>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <img src="../static/Mlogo.png" alt="Logo">
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <ul>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-facebook-f"><img src="../static/inst.png"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"><img src="../static/twit.png"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-instagram"><img src="../static/Facebook-logo.png"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 MusikRiech Company. All rights reserved.</p>
      </div>
      </footer>
      <script src="../static/nav.js"></script> 
  </body>
</html>
