<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Logic Albums</title>
    <link rel="stylesheet" href="../static/Albums.css">
  </head>
  <body>
    <header>
      <nav> 
        <a href="home.html">
            <img src="../static/logo.png" alt="Navigation Icon">
        </a>
        <label class="logo"></label>
        <ul style="list-style-type: none;">
          <li><a href="home.html" style="margin-right: 0%;">Heim<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="Artists.html" style="margin-right: 0%;">Künstler<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="about.html" style="text-align: center;">About<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="search.html">Suchen<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="Artistspotlight.html">Punktlicht<span class="line top"></span><span class="line bottom"></span></a></li>
          <li><a href="playlist.html">Laufliste</a></li>
        </ul>
    </nav>
      <h1>Logic Albums</h1>
    </header>
    <main>
      <section class="album-list">
        <div class="album-item">
          <a href="Artist04album1.html">
            <img src="../static/logicalbum.jpg" alt="Album 1 Cover">
            <h2>Confessions of a Dangerous Mind</h2>
            <p>16 songs | Released 2019 </p>
          </a>
        </div>
        <div class="album-item">
          <a href="Artist04album2.html">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3f/LogicEverybody.jpg/220px-LogicEverybody.jpg" alt="Album 2 Cover">
            <h2>Everybody</h2>
            <p>13 songs | Released 2017</p>
          </a>
        </div>
        <div class="album-item">
          <a href="Artist04album3.html">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8e/YoungSinatraIV.jpg/220px-YoungSinatraIV.jpg" alt="Album 3 Cover">
            <h2>YSIV</h2>
            <p>14 songs | Released 2018</p>
          </a>
        </div>
        <div class="album-item">
          <a href="Artist04album4.html">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4c/Logic_No_Pressure_album_cover.jpeg/220px-Logic_No_Pressure_album_cover.jpeg" alt="Album 4 Cover">
            <h2>No Pressure</h2>
            <p>15 songs | Released 2020 </p>
          </a>
        </div>
        <div class="album-item">
          <a href="Artist04album5.html">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3d/Vinyldayslogicalbum.jpg/220px-Vinyldayslogicalbum.jpg" alt="Album 5 Cover">
            <h2>Vinyl Days</h2>
            <p>30 songs | Released 2022</p>
          </a>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <img src="../static/Mlogo.png" alt="Logo">
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <ul>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-facebook-f"><img src="../static/inst.png"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"><img src="../static/twit.png"></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-instagram"><img src="../static/Facebook-logo.png"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 MusikRiech Company. All rights reserved.</p>
      </div>
      </footer>
      <script src="../static/nav.js"></script> 
  </body>
</html>
