<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusikRiech</title>
    
    <link rel="stylesheet" href="../static/home_style.css">
    <link rel="icon" type="png" href="../static/Mlogo.png"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
</head>

    <body>
      <div>
        <nav> 
            <a href="home.html">
                <img src="../static/logo.png" alt="Navigation Icon">
            </a>
            <label class="logo"></label>
            <ul style="list-style-type: none;">
              <li><a href="home.html" style="margin-right: 0%;">Heim<span class="line top"></span><span class="line bottom"></span></a></li>
              <li><a href="Artists.html" style="margin-right: 0%;">Künstler<span class="line top"></span><span class="line bottom"></span></a></li>
              <li><a href="about.html" style="text-align: center;">About<span class="line top"></span><span class="line bottom"></span></a></li>
              <li><a href="search.html">Suchen<span class="line top"></span><span class="line bottom"></span></a></li>
              <li><a href="Artistspotlight.html">Punktlicht<span class="line top"></span><span class="line bottom"></span></a></li>
              <li><a href="playlist.html">Laufliste</a></li>
            </ul>
        </nav>
      </div>

         <div class="precon">
            <div class="container">
                <div class="swiper">
                    
                    <div class="swiper-wrapper">
                    
                    <div class="swiper-slide"><img src="../static/emcon2.jpg"><div class="trending-box">Trending</div></div>
                    <div class="swiper-slide"><img src="../static/ed2.jpg"><div class="trending-box">Trending</div></div>
                    <div class="swiper-slide"><img src="../static/wek4.jpg"><div class="trending-box">Trending</div></div>
                    <div class="swiper-slide"><img src="../static/ond4.jpg"><div class="trending-box">Trending</div></div>
                    </div>
                    
                    <div class="swiper-pagination"></div>
                
                    
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                
                </div>
            </div>   
            
            <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
            <script>
                const swiper = new Swiper('.swiper', {
                    autoplay: {
                        delay: 3000,
                        disableOnInteraction: false,
                    },

                loop: true,
        
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
        
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
        
                });
            </script>
            
        </div>


        <!-- <div id="slider">
            <figure>
                <div class="slide">
                    <img src="emcon2.jpg" alt="Image 1">
                    <div class="trending-box">Trending</div>
                  </div>
                  <div class="slide">
                    <img src="ed2.jpg" alt="Image 2">
                    <div class="trending-box">Trending</div>
                  </div>
                  <div class="slide">
                    <img src="ed24.jpg" alt="Image 3">
                    <div class="trending-box">Trending</div>
                  </div>
                  <div class="slide">
                    <img src="wek4.jpg" alt="Image 1">
                    <div class="trending-box">Trending</div>
                  </div>
                  <div class="slide">
                    <img src="emcon2.jpg" alt="Image 1">
                    <div class="trending-box">Trending</div>
                  </div>
            </figure>
        </div> -->

        <div class="name1">
            <p class="quote">"Musik drückt das aus, was nicht gesagt werden kann und worüber zu schweigen unmöglich ist." </p>
            <p class="by">-Ludwig van Beethoven</p>
        </div>
        <div class="top_album">
            <p class="quote">TOP ALBUM </p>
            <div class="image-container">
                <div class="image-item">
                  <a href="Artist02album5.html"><img src="../static/kamikaze.jpg" alt="Image 1"></a>
                  <p></p>
                </div>
                <div class="image-item">
                  <a href="Artist05album3.html"><img src="../static/deluxe.jpg" alt="Image 2"></a>
                  <p></p>
                </div>
                <div class="image-item">
                  <a href="Artist04album1.html"><img src="../static/logicalbum.jpg" alt="Image 3"></a>
                  <p></p>
                </div>
              </div>
              
              
        </div>
        <div class="top_song">
            <p class="quote">TOP SONG </p>
            <div class="image-container">
                <div class="image-item">
                  <a href="Artist04album1.html"><img src="../static/homicide.jpg" alt="Image 1"></a>
                  <p>HOMICIDE</p>
                </div>
                <div class="image-item">
                  <a href="Artist01album3.html"><img src="../static/starboi.png" alt="Image 2"></a>
                  <p>STARBOY</p>
                </div>
                <div class="image-item">
                  <a href="Artist02album4.html"><img src="../static/revival.png" alt="Image 3"></a>
                  <p>RIVER</p>
                </div>
              </div>
              
              
        </div>
        <div class="top_artist">
            <p class="quote">top Künstler</p>
            <div class="image-container">
                <div class="image-item">
                  <a href="Artist02albums.html"><img src="../static/eminempic.jpg" alt="Image 1"></a>
                  <!-- <p>EMINEM</p> -->
                </div>
                <div class="image-item">
                  <a href="Artist05albums.html"><img src="../static/edsheerwall.jpg" alt="Image 2"></a>
                  <!-- <p>ED SHEERAN</p> -->
                </div>
                <div class="image-item">
                  <a href="Artist01albums.html"><img src="../static/weekwall.jpg" alt="Image 3"></a>
                  <!-- <p>WEEKND</p> -->
                </div>
              </div>
              
              
        </div>

        <footer>
            <div class="footer-container">
              <div class="footer-logo">
                <img src="../static/Mlogo.png" alt="Logo">
              </div>
              <div class="footer-links">
                <ul>
                  <li><a href="home.html">Home</a></li>
                  <li><a href="about.html">About</a></li>
                </ul>
              </div>
              <div class="footer-social">
                <ul>
                  <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-facebook-f"><img src="../static/inst.png"></i></a></li>
                  <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"><img src="../static/twit.png"></i></a></li>
                  <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-instagram"><img src="../static/Facebook-logo.png"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="footer-bottom">
              <p>&copy; 2023 MusikRiech Company. All rights reserved.</p>
            </div>
          </footer>
          
          
     <script src="../static/nav.js"></script>     
    </body>


</html>

