
@import url("https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald");
@import url("https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Roboto:wght@100&display=swap');



*{
    margin:0;
    padding: 0;
}

nav{
    position: fixed;
    z-index: 9999;
}

label.logo{
    color: #e8cdcd;
    padding: 20px 100px;
    font-size: 55px;
}

body{
    background-color: #700606;
    background: #000000;
    background: #2762f3;
    background: #242b2c;
}

nav a img {
    width: 500px;
    height: 100px;
    object-fit: cover;
    /* border-radius: 50%; */
    margin-right: 10px;
  }

nav {
    list-style-type: none;
    display:block;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    
    background-color: #191919;
    border-radius: 0px;
    color: white;
     font-family: 'Montserrat', sans-serif;/*'Archivo',sans-serif; */
    font-weight: bold;
    height: 100px;
    font-size: 0rem;
}

nav ul{
    margin-inline-end: 80px;
    float: right;
}
nav ul li {
  margin: 0;
  padding: 0;
  display:inline-block;
  line-height: 80px;
  margin: 0 1vw;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 2px; 
  transition: all 0.2s ease-in-out;
  float: right;
  /* F8B0B0 */
  
}
nav ul li a:hover {
    /* background-color: rgba(99, 99, 99, 0.32); */
    color: #ad1110;
    border-radius: 0.1rem;
    
}


.list{
    padding-top: 150px;
    color: aqua;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30vw;
    margin-right: 100px;
}

.olt{
    margin-left: 50px;
}

.pshi{
    position: relative;
    font-size: 20px;
    margin-top: 40px;
    background-color: #000000;
    /* text-align: center; */
}

.insdiv{
    background-color: #700606;
    height: 100px;
    width: 40vw;
    position: relative;
}

.resulimg{
    position: absolute;
  left: 0;
  top: 0;
  padding-right: 5px;
  z-index: 1;
  /* text-align: center; */
  padding-right: 100px;
  height: 100px;
  width: auto;
}

h2 {
    color: #ffffff;
    padding-bottom: 10px;
    margin-left: 110px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
  }
  
p {
    position: relative;
    color: #ffffff;
    margin-left: 110px;
    font-size: 20px;
    z-index: 2;
  }

.add-to-playlist{
    display: inline-block;
  position: absolute;
  top:50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #3b5998;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
    margin-top: 20px;
    z-index: 10;
    margin-left: 110px;
}


