
@import url("https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald");
@import url("https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

*{
  margin:0;
  padding: 0;
}

body {
  margin: 0; 
  font-family: Arial, sans-serif;
  /* background-image: url(https://images.unsplash.com/photo-1546708770-589dab7b22c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGxpdmUlMjBtdXNpY3xlbnwwfHwwfHw%3D&w=1000&q=80); */
  /* background-size: cover; */
  background-color: #161616;
  
}

nav{
  position: fixed;
  z-index: 9999;
}

label.logo{
  color: #e8cdcd;
  padding: 20px 100px;
  font-size: 55px;
}

body{
  background-color: #000000;
}

nav a img {
  width: 500px;
  height: 100px;
  object-fit: cover;
  /* border-radius: 50%; */
  margin-right: 10px;
}

nav {
  list-style-type: none;
  display:block;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  
  background-color: #161616;
  border-radius: 0px;
  color: white;
  font-family: 'Montserrat', sans-serif;/*'Archivo',sans-serif; */
  font-weight: bold;
  height: 100px;
  font-size: 0rem;
}

nav ul{
  margin-inline-end: 80px;
  float: right;
}
nav ul li {
  margin: 0;
  padding: 0;
  display:inline-block;
  line-height: 80px;
  margin: 0 1vw;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 2px; 
  transition: all 0.2s ease-in-out;
  float: right;
  /* F8B0B0 */
  
}
nav ul li a:hover {
  /* background-color: rgba(99, 99, 99, 0.32); */
  color: #ad1110;
  border-radius: 0.1rem;
  
}




h1 {
  margin: 0;
}

.song-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 115px;
}

.song-item {
  margin-bottom: 20px;
  background-color:#2c2c2c44;
  /* border-radius: 10px; */
  padding: 20px;
  width: 500px;
  height: 60px;
  text-align: left;
  padding-left: 120px;
  border: 1px solid #3a3a3a88;
}

/* .song-item h2 {
  margin: 0;
  font-family: cursive;
}

.song-item p {
  margin-top: 5px;
  font-size: 20px;
}

.song-item img{
  height: 50px;
  width: auto;
} */
.song-item {
  position: relative;
}

.song-item img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100px;
  width: auto;
}

.song-item h2 {
  color: #ffffff;
  padding-bottom: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
}

.song-item p {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  z-index: 2;
}
.add-to-playlist {
  display: inline-block;
  position: absolute;
  top:50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #3b5998;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.add-to-playlist:hover {
  background-color: #2a3f8e;
}

.plus-icon {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(45deg);
  margin-right: 5px;
}



footer {
  background-color: #2c2c2c;
  color: #fff;
  padding: 10px 0;
  font-size: 14px;
  padding-bottom: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  height: 60px;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  font-size: 20px;
  display: flex;
}

.footer-links li:not(:last-child) {
  margin-right: 30px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.footer-links a:hover {
  color: #f1c40f;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-social li:not(:last-child) {
  margin-right: 20px;
}

.footer-social img{
  height: 30px;
  width: auto;
}


.footer-social a {
  color: #a83434;
  font-size: 30px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.footer-social a:hover {
  color: #ffffff;
}

.footer-bottom {
  background-color: #1c1c1c;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
}

